body {
   font-family: 'Orbitron', sans-serif;
   padding: 10px 40px;
   color: var(--text_bright);
   background-color: var(--background_dark);
   margin: 0 auto;
}

a:link {
   color: var(--text_dim);
   transition: color 0.2s ease, text-shadow 0.3s ease, transform 0.2s ease;
   transform: translateY(-2px);
   text-decoration-thickness: 1px;
   text-underline-offset: 2px;
}

a:visited {
   color: var(--secondary_blue);
}

a:hover {
   outline: none;
   color: var(--accent_orange);
}

a:active {
   color: var(--accent_red);
}

ul {
   list-style-position: inside; 
   padding-left: 1.5rem;     
   color: var(--text_bright); 
}

ul li {
   margin: 0.5rem 0;
   padding-left: 1rem;
   position: relative;
}

ul li::marker {
   color: var(--accent_orange); 
   font-weight: bold;          
}

nav {
   display: flex;
   justify-content: center;
   gap: clamp(1rem, 10vw, 8rem);
   flex-wrap: wrap;
   padding: 20px 0;
   margin: 15px 0 0 0;
   z-index: 1000;
   border-radius: 12px;
   border: 2px solid var(--accent_red);
   box-shadow: 
      0 0 25px var(--accent_red);
}

nav a:link {
   font-size: 1.4rem;
   margin-top: 4px;
   color: var(--accent_red);
   transition: color 0.2s ease, text-shadow 0.3s ease, transform 0.2s ease;
   text-decoration: none;
   text-shadow: none;
}

nav a:hover {
   text-shadow: 
      0 0 10px currentColor,
      0 0 20px currentColor;
}

nav a:active {
   color: var(--accent_orange);
   text-shadow: 
      0 0 10px currentColor,
      0 0 20px currentColor;
}

address {
   text-align: center;
}

footer {
   margin-top: 20px;
   clear: both;
}

.timeline-element{
   width: 50%;
   clear: right;
   float: left;
   border-right: 3px solid var(--accent_orange);
}

.timeline-element:nth-child(2n) {
   float: right;
   border-right: none;
   border-left: 3px solid var(--accent_orange);
}

.section-link h2 {
   text-decoration: underline;
   text-decoration-color: var(--secondary_blue);
   text-decoration-thickness: 2px;
   text-underline-offset: 4px;
}

.section-link ul {
   max-width: 60%;
}

.education {
   display: grid;
   grid-template-rows:  1fr minmax 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px 20px;
   grid-template-areas: 
      "main1 main1 pic1 pic1"
      "blank-left side side blank-right"
      "pic2 pic2 main2 main2";
}

.shenandoah-university-sec {
   grid-area: main1;
}

.honors-activities-sec {
   grid-area: main2;
}

.info {
   grid-area: side;
   border: 5px solid var(--accent_orange);
}

.blank-left {
   grid-area: blank-left;
}

.blank-right {
   grid-area: blank-right;
}

#zig-zag1 {
   grid-area: pic1;
   width: 100%;
   height: auto;
   max-width: 600px;
   justify-self: center;
   align-self: center;
   display: block;
   border-radius: 5%;
   border: 2px solid var(--primary_neon_blue);
}

#zig-zag2 {
   grid-area: pic2;
}

h2 {
   color: var(--accent_orange);
}

h1 {
   text-align: center;
   letter-spacing: 1px;
}

.glow {
   text-shadow: 
      0 0 8px currentColor;
}

section {
   margin-top: 10px;
   background-color: var(--background_light);
   border-radius: 12px;
   padding: 16px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px 80px;
}

.project-showcase {
   display: flex;
   justify-content: center;
}

.project img {
   width: 70%;
   height: auto;
   border: 2px solid var(--primary_neon_blue);
   border-radius: 20px;
}

.project video {
   border: 2px solid var(--primary_neon_blue);
   border-radius: 20px;
}

.section-link:link {
   text-decoration: none; 
   color: inherit; 
}

.section-link section:hover {
   border: 2px solid var(--accent_orange);
   box-shadow: 
      0 4px 20px var(--accent_orange),
      inset 0 0 10px var(--accent_orange);
   cursor: pointer;
   transition: color 0.2s ease, text-shadow 0.3s ease, transform 0.2s ease;
}

.section-link section:active {
   border: 2px solid var(--accent_red);
   box-shadow: 
      0 4px 20px var(--accent_red),
      inset 0 0 10px var(--accent_red);
}

.social-links {
   display: inline;
   margin: 10px;
}

.certifications p {
   background-color: var(--background_light);
   padding: 30px;
   border-radius: 30px;
   line-height: 1.6;
}

.star {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 500px; 
   background-image: url("../../images/shapes/star.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   text-align: center;
}

.right-column, .left-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   float: right;
   width: 45%;
   margin: 20px;
}

.pdf-viewer {
   width: 90%;
   border: 2px solid var(--primary_neon_blue);
}

.left-main {
   display: inline;
   align-items: center;
   justify-content: center;
   
   float: left;
   width: 60%;
}

img.social-icon {
   margin: 0 5px;
   width: 5%;
   height: 5%;
   max-width: 10%;
   max-height: 10%; 
   transition: transform 0.3s ease, filter 0.3s ease;
}

img.social-icon:hover {
   transform: scale(1.1); /* Slight zoom in */
   filter: drop-shadow(0 0 10px var(--primary_neon_blue)); /* Soft glow effect */
}

img.decorative-img {
   position: fixed;
   top: 35%;
   left: 62%;
   max-width: 30%;
   height: auto;
   border: 2px solid var(--primary_neon_blue);
   border-radius: 0.75rem;
   scroll-behavior: smooth;
}

/*
@keyframes pulseGlow {
   0%, 100% {
      box-shadow: 0 0 10px currentColor, inset 0 0 5px currentColor;
   }
   50% {
      box-shadow: 0 0 15px currentColor, inset 0 0 10px currentColor;
   }
}
*/

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.skill-category {
  flex: 1 1 250px;
  background-color: var(--background_light);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.skill-category h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--accent_orange);
}

.skill-category ul {
   list-style: disc;
   padding-left: 1rem;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background_light: #FFFFFF08; 
      --background_dark: #1A1A1A;
      --primary_neon_blue: #b3ffff;
      --secondary_blue: #00BCD4;
      --accent_orange: #FF6600;
      --accent_red: #00BCD4; /* FF0015 */
      --text_bright: #ccffff;
      --text_dim: #8BE9FD;
   }
}

@media (prefers-color-scheme: light) {
   :root {
      --background_light: #f9ffff;         
      --background_dark: #e6f7ff;    
      --primary_neon_blue: #006d75;       
      --secondary_blue: #008caa;          
      --accent_orange: #ff7a00;           
      --accent_red: #008caa; /* ff3366 */            
      --text_bright: #002b36;             
      --text_dim: #336870;                
   }

   .glow {
      text-shadow: none;
   }
}
