<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Certifications - Wilson Beima</title>

      <link rel="stylesheet" href="../static/css/main.css">
   </head>
   
   <body>
      <header>
         <nav>
            <a href="home.html">Home</a> 
            <a href="education.html">Education</a> 
            <a href="projects.html">Projects</a> 
            <a href="work.html">Work</a> 
            <a href="skills.html">Skills</a> 
            <a href="certifications.html">Certifications</a>
         </nav>
         <h1 class="glow">Certifications</h1>
      </header>

      <main>
         <div class="certifications">
            <section class="left-column">
               <div class="star">
                  <h2 class="glow">AWS Cloud Practitioner</h2>
               </div>

               <p>description of the certifications</p>

               <object data="../images/certifications/AWS_Certified_Cloud_Practitioner_certificate.pdf" type="application/pdf" width="100%" height="500px">

                  <p>Unable to display PDF file. <a href="../images/certifications/AWS_Certified_Cloud_Practitioner_certificate.pdf">Download</a> instead.</p>
               </object>
            </section>

            <section class="right-column">
               <div class="star">
                  <h2 class="glow">Azure Cloud Fundamentals</h2>
               </div>

               <p>description of the certifications</p>

               <object data="../images/certifications/Microsoft_Cloud_Fundamentals_Certification.pdf" type="application/pdf" width="100%" height="500px">

                  <p>Unable to display PDF file. <a href="../images/certifications/Microsoft_Cloud_Fundamentals_Certification.pdf">Download</a> instead.</p>
               </object>
            </section>
         </div>
      </main>

      <footer>
         <div class="social-links">
            <a href="https://github.com/wilbeimer" target="_blank" rel="github profile">
               <picture>
                  <source srcset="../images/logos/github.png" media="(prefers-color-scheme: light)">
                  <source srcset="../images/logos/github-white.png" media="(prefers-color-scheme: dark)">
                  <img src="../images/logos/github-white.png" alt="GitHub" class="social-icon">
               </picture>
            </a>
            <a href="https://www.linkedin.com/in/wilson-beima" target="_blank" rel="linkedin profile">
               <picture>
                  <source srcset="../images/logos/linkedin-black.png" media="(prefers-color-scheme: light)">
                  <source srcset="../images/logos/linkedin-white.png" media="(prefers-color-scheme: dark)">
                  <img src="../images/logos/linkedin-white.png" alt="GitHub" class="social-icon">
               </picture>
            </a>
         </div>
      </footer>
   </body>
</html>
