<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Education - Wilson Beima</title>

      <link rel="stylesheet" href="../static/css/main.css">
   </head>

   <body>
   <header>
      <nav>
         <a href="home.html">Home</a> 
         <a href="education.html">Education</a> 
         <a href="projects.html">Projects</a> 
         <a href="work.html">Work</a> 
         <a href="skills.html">Skills</a> 
         <a href="certifications.html">Certifications</a>
      </nav>
      <h1>Education</h1>
   </header>

      <main>
            <section>
               <h2>Shenandoah University</h2>
               <p>Winchester, VA</p>
               <ul>
                  <li><strong>Degree:</strong> B.S. in Computer Science</li>
                  <li><strong>Minor:</strong> Artificial Intelligence, Mathematics</li>
                  <li><strong>Expected Graduation:</strong> 2027</li>
                  <li><strong>GPA:</strong> 3.901</li>
               </ul>
            </section>

            <section>
               <h2>Relevant Coursework</h2>
               <ul>
                  <li>Data Structures and Algorithms</li>
                  <li>Machine Learning</li>
                  <li>Artificial Intelligence</li>
                  <li>Software Engineering</li>
                  <li>Probability and Statistics</li>
                  <li>Computer Systems</li>
               </ul>
            </section>

            <section>
               <h2>Honors & Activities</h2>
               <ul>
                  <li>
                     Merit Honors
                     <ul>
                        <li>
                           Dean’s List 
                           <ul>
                              <li>I am honored to have been named Dean's List for every semester that I have been at Shenandoah University</li>
                           </ul>
                        </li>
                        <li>
                           Presidents’s List 
                        </li>
                        <li>
                           More information about my merit awards:
                           <br>
                           <a href="https://meritpages.com/wilsonbeima" target="_blank"><img class="social-icon" src="../images/logos/merit-white.png" alt="Link to merit.com"></a>
                        </li>
                     </ul>
                  </li>
                  <li>Teaching Assistant, Math Enrichment Center</li>
                  <li>
                     Football
                     <ul>
                        <li>I had the amazing opprotunity to play football for Shenandoah. I learned a lot about responsibility, scheduling, hard work, and focus. </li>
                     </ul>
                  </li>
               </ul>
            </section>
      </main>
   </body>
</html>

