<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Work - Wilson Beima</title>

      <link rel="stylesheet" href="../static/css/main.css">
   </head>
   
   <body>
      <header>
         <nav>
            <a href="home.html">Home</a> 
            <a href="education.html">Education</a> 
            <a href="projects.html">Projects</a> 
            <a href="work.html">Work</a> 
            <a href="skills.html">Skills</a> 
            <a href="certifications.html">Certifications</a>
         </nav>
         <h1 class="glow">Work Experience</h1>
      </header>

      <main>
         <div class='timeline'>
            <section class="timeline-element">
               <h2 class='glow'>[2023-Now] </h2>
               <h3>General Tutor - Shenandoah University Math Enrichment Center, Winchester VA</h3>
               <ul>
                  <li>Tutored 240+ students per semester in Math & CS (Statistics, Algebra, Discrete, Calculus I–III).</li>
                  <li>Helped students debug code and clarify programming concepts.</li>
                  <li>Proctored exams and managed assignment logistics.</li>
               </ul>

               <h3>General Tutor - Shenandoah University Math Enrichment Center, Winchester VA</h3>
               <ul>
                  <li>Supported professors in Intro and Intermediate programming classes (~25 students).</li>
                  <li>Spent 11+ hours/week assisting with Python & Java assignments.</li>
                  <li>Taught practical programming applications.</li>
               </ul>
            </section>
            <section class="timeline-element">
               <h2 class='glow'>[2022–2023]</h2>
               <h3>Programming Tutor - Code Ninjas, Burke VA</h3>
               <ul>
                  <li>Taught Scratch, JavaScript, Lua, and C# to ages 7–14.</li>
                  <li>Managed classes of up to 20 students.</li>
                  <li>Led outreach to local elementary schools and coordinated with community leaders.</li>
               </ul>
            </section>
            <section class="timeline-element">
               <h2 class='glow'>[2021-2023]</h2>
               <h3>Assistant Swim Coach - Burke Centre Swim Club, Burke VA</h3>
               <ul>
                  <li>Coached 18 & under swimmers (~50–100 athletes).</li>
                  <li>Planned workouts, led practices, and communicated with parents & board members.</li>
                  <li>Transitioned from volunteer (2021) to paid assistant (2021–2023).</li>
               </ul>
            </section>
            <section class="timeline-element">
               <h2 class='glow'>[2021-2022]</h2>
               <h3>Computer Science Volunteer TA - Robinson Secondary School, Fairfax VA</h3>
               <ul>
                  <li>Assisted ~25 computer science students.</li>
                  <li>Supported teacher-led lessons in programming.</li>
                  <li>Communicated progress and challenges with the instructor.</li>
               </ul>
            </section>
         </div>
      </main>
      <footer>
         <div class="social-links">
            <a href="https://github.com/wilbeimer" target="_blank" rel="github profile">
               <picture>
                  <source srcset="../images/logos/github.png" media="(prefers-color-scheme: light)">
                  <source srcset="../images/logos/github-white.png" media="(prefers-color-scheme: dark)">
                  <img src="../images/logos/github-white.png" alt="GitHub" class="social-icon">
               </picture>
            </a>
            <a href="https://www.linkedin.com/in/wilson-beima" target="_blank" rel="linkedin profile">
               <picture>
                  <source srcset="../images/logos/linkedin-black.png" media="(prefers-color-scheme: light)">
                  <source srcset="../images/logos/linkedin-white.png" media="(prefers-color-scheme: dark)">
                  <img src="../images/logos/linkedin-white.png" alt="GitHub" class="social-icon">
               </picture>
            </a>
         </div>
      </footer>
   </body>
</html>
